@model PgsBoard.ViewModels.ListViewModel

<section class="list" data-list-id="@Model.Id">
    <header class="list__header clearfix">
        <h4 class="pull-left">@Model.Name</h4>
        <i class="fa fa-trash-o trash pull-right list__remove-list-btn" data-list-id="@Model.Id"></i>
    </header>
    <div class="list__carts-container ui-sortable" data-list-id="@Model.Id">
        @foreach (var cart in Model.Carts)
        {
            @Html.Partial("_Cart", cart)
        }
    </div>
    @Html.Partial("_CreateCartForm", Model.CreateCartDto)
</section>