<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - PGS Board</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/site")
</head>
<body>
@Html.Partial("_Navbar")
<main>
    @RenderBody()
</main>

@using (Html.BeginForm("", "", FormMethod.Post,  new {id = "AntiForigeryToken"}))
{
    @Html.AntiForgeryToken()
}

@Scripts.Render("~/bundles/scripts/jquery")
@Scripts.Render("~/bundles/scripts/bootstrap")
@Scripts.Render("~/bundles/scripts/site")
@RenderSection("scripts", required: false)
</body>